body {
    background-color: #212121;
    color: white;
}
.card {
    padding: 5px;
    background-color: #701010;
    box-sizing: border-box;
    border: #5c0d0d 2px solid;
}
.card-title{
    text-align: center;
}

.carousel .carousel-item {
    height: 400px;
}
.carousel-item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 100px;
}
#final-order {
    text-align: center;
    font-size: 35px;
    color: rgb(2, 185, 2);
}
#final-container, #checkout-container{
    display: none;
}
header {
    text-align: center;
}
em{
    font-family: 'Dancing Script', cursive;
}
h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 75px;
}
#checkout-container {
    text-align: center;
}


